<section class="hero is-light">
  <div class="hero-body">
    <div class="columns">
      <div class="column is-half is-offset-one-quarter">
        <div class="page-header">
          <%= link_to tasks_path, class: 'button is-link' do %>
            <span class="fa fa-list-alt"></span>
          <%= t('d.Back') %>
          <% end %>
          <%= link_to @task, class: 'button is-link' do %>
            <span class="fa fa-info-circle"></span>
          <%= t('d.Show') %>
          <% end %>
          <h1><%= t('d.Editing') %> <%= Task.model_name.human %></h1>
        </div>

        <%= render 'form' %>
      </div>
    </div>
  </div>
</section>
