 <%%= form_for(@<%= singular_table_name %>, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <%% if @<%= singular_table_name %>.errors.any? %>
    <div class="notification is-danger" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">X</span></button>
      <ul>
      <%% @<%= singular_table_name %>.errors.full_messages.each do |msg| %>
        <li><%%= msg %></li>
      <%% end %>
      </ul>
    </div>
  <%% end %>

<% attributes.each do |attribute| -%>
  <div class="field">
    <%%= f.label :<%= attribute.name %>, <%= human_name %>.human_attribute_name('<%=attribute.name%>'), class: "label"  %>
    <div class="control">
      <%%= f.<%= attribute.field_type %> :<%= attribute.name %>, class: "input" %>
    </div>
  </div>
<% end -%>
  <div class="actions">
    <%%= f.submit value: t('d.Save'), class: "button is-link" %>
  </div>
<%% end %>
